<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rule_rulemailer>
            <general>
                <aggressive_abandoned_cart>0</aggressive_abandoned_cart>
                <meta_fields>{"Cart.TotalPrice":"cart.subtotal","Cart.Currency":"cart.quote_currency_code","Cart.Products":"cart.products","Order.Status":"order.status","Order.Country":"address.country_id","Order.City":"address.city","Order.Street":"address.street","Order.Region":"address.region","Order.Postcode":"address.postcode","Order.Currency":"order.cart.quote_currency_code","Order.Subtotal":"order.subtotal","Order.GrandTotal":"order.grandtotal","Order.IncrementId":"order.increment_id","Order.StoreId":"order.store_id","Order.StoreName":"order.store.name","Order.Products":"order.cart.products","Order.Categories":"order.product_categories","User.Firstname":"customer.firstname","User.Lastname":"customer.lastname","User.BirthDate":"customer.dob","User.Gender":"customer.gender"}</meta_fields>
            </general>
        </rule_rulemailer>
    </default>
</config>