<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rule>
            <rule_rulemailer>
                <aggressive_abandoned_cart>0</aggressive_abandoned_cart>
            </rule_rulemailer>
        </rule>
    </default>
</config>